@use 'variables';

h1 {
  font-family: variables.$headline-font;
  font-size: variables.$f-1;
}

h2 {
  font-family: variables.$headline-font;
  font-size: variables.$f-2;
}

h3 {
  font-family: variables.$headline-font;
  font-size: variables.$f-3;
}

p,
ul {
  font-family: variables.$text-font;
  font-size: variables.$f-4;
  line-height: 1.5rem;
}

p.large-paragraph {
	font-size: variables.$f-3; 
	line-height: variables.$f-3;
}
