@use 'variables';

h1 {
  font-family: variables.$headline-font;
  font-size: variables.$f-1;
}

h2 {
  font-family: variables.$headline-font;
  font-size: variables.$f-2;
}

p {
  font-family: variables.$text-font;
  font-size: variables.$f-4;
}
