@use 'variables';

// create atomic linear-gradient background classes

@mixin create-gradient-classes($color-pairs) {

	@for $i from 1 through length($color-pairs) {
	    $pair: nth($color-pairs, $i);

	    .gradient-#{$i} {
	    	filter: blur(variables.$blur-3);
	    	background: linear-gradient(90deg, $pair);
	    }
	}	
}

// gradient classes are loaded to global.scss file
@include create-gradient-classes(variables.$color-pairs)