@use 'variables';

a {
  color: variables.$white-color;
  text-decoration: underline;
}

.link-primary {
  display: inline-block;
  max-width: variables.$main-button-max-width;
  font-family: variables.$headline-font;
  font-size: variables.$f-2;
  text-align: center;
  box-sizing: border-box;
  padding: variables.$offset-3;
  border-radius: variables.$border-radius-1;
  background-color: variables.$white-color;
  border: none;
  outline: none;
  filter: variables.$main-button-shadow-effect;
  text-decoration: none;
  color: variables.$black-color;

  @media (max-width: variables.$query-mobile) {
    font-size: variables.$f-3;
  }  

  @media (min-width: variables.$query-mobile) and (max-width:variables.$query-mobile-landscape)  and (orientation:landscape){
    font-size: variables.$f-4;
  }     
}

.link-inline {
  font-family: variables.$text-font;
  font-size: variables.$f-4;
  display: inline;
  color: variables.$black-color;
  text-align: center; 
}
